.ControlPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #003a64;
  height: 50px;
  width: 100%;
}

.ControlPanel button {
  margin: 0 5px;
  height: 20px;
}

.ControlPanel p {
  font-size: 14px;
  font-weight: 800;
  margin: 0 0;
}

.reset {
  display: flex;
  align-items: center;
}

.ControlPanel button {
  color: ghostwhite;
  background: #003a64;
  border: 1px solid ghostwhite;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
