.Field {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  height: 100%;
}

.Row {
  display: flex;
}

.Visualizer {
  display: flex;
  justify-content: center;
}
