nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 8vh;
  margin: 0;
  padding: 0;
  background-color: #003153;
  color: white;
  font-size: large;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

label {
  font-size: 1.5rem;
  margin: 1rem;
}

.git-link {
  background-color: #003153;
  display: inline-block;
  color: white;
  border: none;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
