.Field {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.Row {
  display: flex;
}

.Visualizer {
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
